<!-- apps.html-->

{% extends "base.html" %}
{% block title %}Avoid{% endblock %}
{% block body %}

<div class="bd-example mb-3">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner rounded">
      <div class="carousel-item active">
        <div class="card-deck mb-3">
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
              class="card-img" alt="...">
            <div class="card-body">
              <p class="card-text text-danger"><i class="fas fa-heart"></i> 75</p>
              <h5 class="card-title">Kota Kasablanka</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-dark">See More</button>
            </div>
          </div>
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
              class="card-img" alt="...">
            <div class="card-body">
              <p class="card-text text-danger"><i class="fas fa-heart"></i> 75</p>
              <h5 class="card-title">Kota Kasablanka</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-dark">See More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card-deck mb-3">
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
              class="card-img" alt="...">
            <div class="card-body">
              <p class="card-text text-danger"><i class="fas fa-heart"></i> 75</p>
              <h5 class="card-title">Kota Kasablanka</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-dark">See More</button>
            </div>
          </div>
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
              class="card-img" alt="...">
            <div class="card-body">
              <p class="card-text text-danger"><i class="fas fa-heart"></i> 75</p>
              <h5 class="card-title">Kota Kasablanka</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-dark">See More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card-deck mb-3">
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
              class="card-img" alt="...">
            <div class="card-body">
              <p class="card-text text-danger"><i class="fas fa-heart"></i> 75</p>
              <h5 class="card-title">Kota Kasablanka</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-dark">See More</button>
            </div>
          </div>
          <div class="card">
            <img
              src="https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
              class="card-img" alt="...">
            <div class="card-body">
              <p class="card-text text-danger"><i class="fas fa-heart"></i> 75</p>
              <h5 class="card-title">Kota Kasablanka</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-dark">See More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <p class="text-muted">All Places</p>
    <a href="#!" class="text-muted">See More ></a>
  </div>

  <div class="card-deck mb-3">
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
        class="card-img" alt="...">
      <div class="card-body">
        <p class="card-text text-danger"><i class="fas fa-heart"></i> 75</p>
        <h5 class="card-title">Kota Kasablanka</h5>
        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-dark">See More</button>
      </div>
    </div>

    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1553174770-99d471dea738?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
        class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-danger"><i class="fas fa-heart"></i> 30</p>
        <h5 class="card-title">Dunia Fantasi Sebelum Puasa</h5>
        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-dark">See More</button>
      </div>
    </div>
    <div class="card">
      <div>
        <img
          src="https://images.unsplash.com/photo-1548194128-2e8440ccd6d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
          class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text text-danger"><i class="fas fa-heart"></i> 612</p>
          <h5 class="card-title">Cikupa</h5>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-dark">See More</button>
      </div>
    </div>
  </div>

  {% endblock %}